$width:500px;
$margin-left:260px;
$margin-top:30px;
$bgcolor:#fff;

  .md-layout-item1 {
    width: $width;
    height: 50px;
    margin-left: $margin-left;
    margin-top: $margin-top;
  }
  .createnotecard {
    width: $width;
    margin-left: $margin-left;
    margin-top: $margin-top;
    background:$bgcolor;
  }